
small {
	color: #999;
}

.addTodo {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}

.addTodo .addTodo-desc {
	flex: 1;
	margin-right: 30px;
}

.addTodo i {
	margin-right: 15px;
}

.todoContainer {
	padding: 0 30 100 30;
}

.noItems {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	border-radius: 10px;
	color: #333;
	font-size: 1.25em;
	font-weight: 200;
	margin-top: 60px;
	padding: 30;
}

.todoItem {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.todoItem i.todoItem-completed {
	color: #333;
	font-size: 1.5em;
	margin-right: 30;
	opacity: 1;
	position: relative;
}

.todoItem i.todoItem-completed.todoItem-completedChecked {
	color: #999;
}

.todoItem i.todoItem-delete {
	color: #ccc;
	margin-left: 30;
}

.todoItem i.todoItem-delete:hover {
	color: red;
	cursor: pointer;
	font-size: 1.5em;
}

.todoItem input.todoItem-desc {
	border: none;
	border-bottom: 1px solid #ccc;
	flex: 1;
}

.todoItem input.todoItem-desc.todoItem-descCompleted {
	text-decoration: line-through;
	color: #999;
}

.tools {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 30px;
	color: #999;
	background-color: #f6f6f6;
	padding: 15;
	font-size: 13px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #ccc;
}

.tools .tools-selector {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tools .tools-selector:not(:last-of-type) {
	margin-right: 45px;
}

.tools .tools-selector span {
	margin-right: 15px;
	color: #999;
}

.tools .tools-selector select {
 	background-position: calc(100% - 10px);
 	padding-right: 30px;
 }